.row.catalog__row
	.col-md-5.catalog__left
		h2.catalog__title.title.uppercase Каталог
	.col-md-19.catalog__right
		.catalog__settings.uppercase
			span Пол
			select.catalog__select.uppercase
				option.catalog__option(value="Test", selected) Мужская 
				option.catalog__option(value="Test") Женская
		.catalog__settings.uppercase
			span Бренд
			select.catalog__select.uppercase
				option.catalog__option(value="Test", selected) Adidas 
				option.catalog__option(value="Test") Nike
		.catalog__settings.uppercase
			span Сезон
			select.catalog__select.uppercase
				option.catalog__option(value="Test", selected) Лето 
				option.catalog__option(value="Test") Осень
				option.catalog__option(value="Test") зима
				option.catalog__option(value="Test") весна
		.catalog__settings.uppercase
			span Размер
			select.catalog__select.uppercase
				option.catalog__option(value="Test", selected) 36 
				option.catalog__option(value="Test") 37
				option.catalog__option(value="Test") 38
				option.catalog__option(value="Test") 39
				option.catalog__option(value="Test") 40