.row.catalog__row
	.col-md-5.catalog__left
		h2.catalog__title.title.uppercase Каталог
	.col-md-19.catalog__right
		.catalog__settings.uppercase
			span Пол
			select.catalog__select.uppercase
				option.catalog__option(value="Test", label="Мужская", selected)
				option.catalog__option(value="Test", label="Женская")
		.catalog__settings.uppercase
			span Бренд
			select.catalog__select.uppercase
				option.catalog__option(value="Test", label="Adidas", selected)
				option.catalog__option(value="Test", label="Nike")
		.catalog__settings.uppercase
			span Сезон
			select.catalog__select.uppercase
				option.catalog__option(value="Test", label="Лето", selected)
				option.catalog__option(value="Test", label="Осень")
				option.catalog__option(value="Test", label="зима")
				option.catalog__option(value="Test", label="весна")
		.catalog__settings.uppercase
			span Размер
			select.catalog__select.uppercase
				option.catalog__option(value="Test", label="36", selected)
				option.catalog__option(value="Test", label="37")
				option.catalog__option(value="Test", label="38")
				option.catalog__option(value="Test", label="39")
				option.catalog__option(value="Test", label="40")