.nav
	+responsive('tablet')
		height: 100%
		padding: 20px
	+responsive('phone')
		height: 100%
		padding: 20px
	+responsive('phone-xs')
		height: 100%
		padding: 20px
	&__list
		+responsive('tablet')
			display: flex
			height: 100%
			flex-direction: column
			justify-content: space-around
		+responsive('phone')
			display: flex
			height: 100%
			flex-direction: column
			justify-content: space-around
		+responsive('phone-xs')
			display: flex
			height: 100%
			flex-direction: column
			justify-content: space-around
	&__item
		display: inline-block
		margin-right: 10px
		font-size: rem(14px)
		font-weight: bolder
		+responsive('laptop')
			font-size: rem(13px)
			margin-right: 5px
		+responsive('tablet')
			text-align: center
			display: block
			font-size: rem(18px)
			white-space: nowrap
			margin-right: 0
		+responsive('phone')
			text-align: center
			white-space: nowrap
			display: block
			font-size: rem(18px)
			margin-right: 0
		+responsive('phone-xs')
			text-align: center
			white-space: nowrap
			display: block
			font-size: rem(18px)
			margin-right: 0
		&_active
			.nav__link
				color: $pink

	&__link
		color: $black
			
		&:hover,&:active
			color: $pink