extends ../main

block vars
	-INDEX = true

block content
	.container
		.content.index
			include ../_parts/index/slider
			.index__ads
				include ../_parts/index/ad-list
			.index__catalog
				include ../_parts/catalog/catalog-head
				include ../_parts/side-catalog
				include ../_parts/catalog-sct
			include ../_parts/index/recommended-sct
			include ../_parts/index/long-ad
			include ../_parts/index/brands
