.itemcard-sct
	background-color: #F8F8F8
	@extend %clearfix
	padding: 20px 10px
	
	&__title
		margin-bottom: rem(20px)

	&__preview
		padding: 0
		+responsive('phone')
			margin-bottom: 20px
		+responsive('phone-xs')
			margin-bottom: 20px
	&__item
		display: inline-block
		&_active
			margin-bottom: 2.5%
			& .itemcard-sct__pic
				height: 350px
				+responsive('phone')
					max-height: 350px
					height: auto
				+responsive('phone-xs')
					max-height: 350px
					height: auto
	&__pic
		overflow: hidden
		img
			min-width: 100%
			max-width: 100%

	&__characteristics
		padding: 0

	&__subtitle
		font-weight: 600
		font-size: 18px
		display: inline-block
		margin-right: 10%
		+responsive('phone-xs')
			margin-right: 2%
		&_bold
			font-weight: 800
		&_mb
			margin-bottom: rem(40px)
		&:last-child
			margin-right: 0
	&__settings
		@extend %clearfix
		margin-bottom: rem(25px)
		
	&__choice
		padding: 0
		display: inline-block
		margin-bottom: rem(15px)
		&:last-child
			margin-bottom: 0

	&__label
		margin-right: 10%
		font-weight: bold
		display: inline-block
		+responsive('tablet')
			margin-right: 3%

		&_rating
			margin-right: 3%
	
	&__select
		background-color: $light-grey
		padding: 3px 5px

	&__caption
		text-align: left
		font-weight: bold
		margin-bottom: rem(10px)

	&__tablecell
		width: 50%
		padding-bottom: 5px
		&:first-child
			+responsive('tablet')
				padding: 0
				width: 30%
			+responsive('phone-xs')
				padding: 0
				width: 30%
			&::after
				display: inline-block
				content: ':'
		&:last-child
			padding-bottom: 0

	&__price
		color: $pink
	
	&__description
		margin-top: rem(50px)

	&__text
		font-size: 1rem

	&__row
		&_price
			margin: 13% 0
			+responsive('tablet')
				margin: 11% 0
			+responsive('phone')
				margin: 6.5% 0
			+responsive('phone-xs')
				margin: 6.5% 0

	&__btn
		display: inline-block
		padding: 5px 0

		&:last-child
			+responsive('tablet')
				margin-top: 10px
			+responsive('phone')
				margin-top: 10px
			+responsive('phone-xs')
				margin-top: 10px