ul.ad-list.row
	li.ad-list__item.ad-list__left.col-lg-12.col-md-12.col-sm-12.col-xs-24
		.ad-list__content
			.ad-list__pic(style="background-image: url('img/content/ad/boots-ad.jpg')")
				img(src="img/content/ad/boots-ad.jpg", alt="Ad")
			.ad-list__offer.ad-list__offer_alignright
				h2.title.ad-list__title.uppercase Мужские кросовки
				h4.ad-list__subtitle.uppercase Сезонная скидка
				h4.ad-list__discount.uppercase
					|-20%
				a.btn.btn_thin.ad-list__btn.ad-list__btn_bottom.ad-list__btn_underline.ad-list__btn_bold.ad-list__btn_naked.uppercase(href="") Купить
					i(class="fa fa-chevron-circle-right", aria-hidden="true").ad-list__chevron
	li.ad-list__item.ad-list__right.col-lg-12.col-md-12.col-sm-12.col-xs-24
		.ad-list__content
			.ad-list__pic(style="background-image: url('img/content/ad/girl-ad.jpg'); background-position-y: -15px;")
				img(src="img/content/ad/girl-ad.jpg", alt="Ad")
			.ad-list__offer.ad-list__offer_alignright
				h2.title.ad-list__title.uppercase Мужские кросовки
				br
				a.btn.btn_thin.ad-list__btn.ad-list__btn_white.uppercase(href="") Купить
	li.ad-list__item.ad-list__right.col-lg-12.col-md-12.col-sm-12.col-xs-24
		.ad-list__content
			.ad-list__pic(style="background-image: url('img/content/ad/shoes-ad.jpg')")
				img(src="img/content/ad/shoes-ad.jpg", alt="Ad")
			.ad-list__offer
				h2.title.ad-list__title.ad-list__title_black.uppercase Мужские кросовки
				h4.ad-list__subtitle.ad-list__subtitle_black.uppercase Сезонная скидка
				a.btn.btn_thin.ad-list__btn.ad-list__btn_black.uppercase(href="") Купить
					i(class="fa fa-chevron-circle-right", aria-hidden="true").ad-list__chevron
