section.brands.index__brands

	h2.brands__title.title Бренды
	.brands__visible
		ul.brands__list
			li.brands__item
				.brands__pic
					img(src="img/content/adidas.png", alt="adidas brand")
			li.brands__item
				.brands__pic
					img(src="img/content/adidas.png", alt="adidas brand")
			li.brands__item
				.brands__pic
					img(src="img/content/adidas.png", alt="adidas brand")
			li.brands__item
				.brands__pic
					img(src="img/content/adidas.png", alt="adidas brand")
			li.brands__item
				.brands__pic
					img(src="img/content/adidas.png", alt="adidas brand")
			li.brands__item
				.brands__pic
					img(src="img/content/adidas.png", alt="adidas brand")


	.brands__control.recommended-sct__control
		a.recommended-sct__toggle.brands__toggle(href="")
			i(class="fa fa-sign-in" aria-hidden="true")
		a.recommended-sct__toggle.brands__toggle(href="")
			i(class="fa fa-sign-in" aria-hidden="true")