.row.long-ad.index__ads
	.long-ad__content
		.long-ad__pic(style="background-image: url('img/content/ad/runner-ad.jpg'); background-position: 75% 90%;")
			img(src="img/content/ad/runner-ad.jpg", alt="Ad")
		.long-ad__gradient
			.long-ad__offer
				h2.title.long-ad__title.uppercase Мужские кросовки
				h3.long-ad__subtitle.uppercase
					|Lorem ipsum dolor sit amet, consectetur 
					span.long-ad__selected adipisicing
					|elit. Sapiente, magnam!
				a.btn.btn_pink.long-ad__btn.uppercase(href="") Узнать подробней