section.recommended-sct.index__recommended
	.row
		.recommended-sct__head.col-lg-24
			.recommended-sct__col
				a.recommended-sct__link.recommended-sct__link_active.uppercase(href="") Рекомендованные товары
			.recommended-sct__col
				a.recommended-sct__link.uppercase(href="") Рекомендованные товары
			.recommended-sct__col
				a.recommended-sct__link.uppercase(href="") Рекомендованные товары