section.recommended-sct.index__recommended
	.row
		.recommended-sct__head.col-lg-24
			.recommended-sct__col
				a.recommended-sct__link.recommended-sct__link_active.uppercase(href="") Рекомендованные товары
			.recommended-sct__col
				a.recommended-sct__link.uppercase(href="") Рекомендованные товары
			.recommended-sct__col
				a.recommended-sct__link.uppercase(href="") Рекомендованные товары
		.recommended-sct__visible.col-lg-24
			ul.catalog-sct__list.recommended-sct__list
				li.catalog-sct__item.recommended-sct__item
					.catalog-sct__pic.recommended-sct__pic
						img(src="img/content/boot.jpg", alt="")
					.catalog-sct__interactive.recommended-sct__interactive
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h3.catalog-sct__text.catalog-sct__name.recommended-sct__name Nike airmax
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h4.catalog-sct__text.catalog-sct__price.price.recommended-sct__price ₽ 4200
							.catalog-sct__description_right.recommended-sct__description
								.catalog-sct__rating.recommended-sct__rating
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
						a.catalog-sct__btn.btn.btn_thin.btn_padding.recommended-sct__btn(href="") Купить

				li.catalog-sct__item.recommended-sct__item
					.catalog-sct__pic.recommended-sct__pic
						img(src="img/content/boot.jpg", alt="")
					.catalog-sct__interactive.recommended-sct__interactive
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h3.catalog-sct__text.catalog-sct__name.recommended-sct__name Nike airmax
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h4.catalog-sct__text.catalog-sct__price.price.recommended-sct__price ₽ 4200
							.catalog-sct__description_right.recommended-sct__description
								.catalog-sct__rating.recommended-sct__rating
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
						a.catalog-sct__btn.btn.btn_thin.btn_padding.recommended-sct__btn(href="") Купить

				li.catalog-sct__item.recommended-sct__item
					.catalog-sct__pic.recommended-sct__pic
						img(src="img/content/boot.jpg", alt="")
					.catalog-sct__interactive.recommended-sct__interactive
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h3.catalog-sct__text.catalog-sct__name.recommended-sct__name Nike airmax
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h4.catalog-sct__text.catalog-sct__price.price.recommended-sct__price ₽ 4200
							.catalog-sct__description_right.recommended-sct__description
								.catalog-sct__rating.recommended-sct__rating
						a.catalog-sct__btn.btn.btn_thin.btn_padding.recommended-sct__btn(href="") Купить

				li.catalog-sct__item.recommended-sct__item
					.catalog-sct__pic.recommended-sct__pic
						img(src="img/content/boot.jpg", alt="")
					.catalog-sct__interactive.recommended-sct__interactive
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h3.catalog-sct__text.catalog-sct__name.recommended-sct__name Nike airmax
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h4.catalog-sct__text.catalog-sct__price.price.recommended-sct__price ₽ 4200
							.catalog-sct__description_right.recommended-sct__description
								.catalog-sct__rating.recommended-sct__rating
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
									a.catalog-sct__star
										i(class="fa fa-star-half-o", aria-hidden="true")
						a.catalog-sct__btn.btn.btn_thin.btn_padding.recommended-sct__btn(href="") Купить
				li.catalog-sct__item.recommended-sct__item
					.catalog-sct__pic.recommended-sct__pic
						img(src="img/content/boot.jpg", alt="")
					.catalog-sct__interactive.recommended-sct__interactive
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h3.catalog-sct__text.catalog-sct__name.recommended-sct__name Nike airmax
						.catalog-sct__row.recommended-sct__row
							.catalog-sct__description_left.recommended-sct__description
								h4.catalog-sct__text.catalog-sct__price.price.recommended-sct__price ₽ 4200
							.catalog-sct__description_right.recommended-sct__description
								.catalog-sct__rating.recommended-sct__rating

						a.catalog-sct__btn.btn.btn_thin.btn_padding.recommended-sct__btn(href="") Купить
		.recommended-sct__control
			a.recommended-sct__toggle(href="")
				i(class="fa fa-long-arrow-left" aria-hidden="true")
			a.recommended-sct__toggle(href="")
				i(class="fa fa-long-arrow-right" aria-hidden="true")