section.recommended-sct.index__recommended
	.row
		a.recommended__link.uppercase.col-lg-8(href="") Рекомендованные товары
		a.recommended__link.uppercase.col-lg-8(href="") Рекомендованные товары
		a.recommended__link.uppercase.col-lg-8(href="") Рекомендованные товары