section.slider.index__slider
	.slider__visible
		a.slider__toggle.slider__toggle_left(href="")
			i(class="fa fa-chevron-left" aria-hidden="true")
		a.slider__toggle.slider__toggle_right(href="")
			i(class="fa fa-chevron-right" aria-hidden="true")
		ul.slider__list
			li.slider__item(style="background-image: url('img/bg/boot-bg.jpg')")
				h2.title.uppercase.slider__title.slider__text_thin распродажа 2017
				h2.title.uppercase.slider__title.slider__title_bold Nike air max
				p.slider__text.uppercase.slider__text_thin Ваш замечательный промо текст
				a.btn.btn_thin.uppercase.slider__btn.slider__text_thin(href="") Купить сейчас