.catalog-sct
	background-color: #F8F8F8
	&__list
		padding: rem(15px) rem(20px)
		&_column
			column-count: 3
			column-gap: 2em

	&__item
		display: inline-block
		margin-bottom: 2em
		&_width
			width: 100%

		&_sale > .catalog-sct__pic
			position: relative
			&::after
				display: inline-block
				position: absolute
				text-align: center
				content: 'SALE'
				color: #fff
				background-color: $pink
				bottom: 0
				right: 0
				padding: 3px 25px

	&__row
		@extend %clearfix
		margin-bottom: rem(7px)

	&__description
		&_left
			float: left
		&_right
			float: right
			text-align: right
	&__pic
		margin-bottom: rem(7px)
		img
			min-width: 100%
			max-width: 100%

	&__text
		display: inline-block
		font-size: 14px
		font-weight: 600

	&__select
		background-color: $light-grey
		padding: 0 10px
		margin-left: 10px
	&__rating
		display: inline-block
	&__star
		color: #FFB21E
		margin-right: 3px
		&:last-child
			margin-right: 0

	&__price
		margin-right: rem(25px)

	&__discount
		// position: relative
	
		// &::after
		// 	content: ''
		// 	display: inline-block
		// 	position: absolute
		// 	height: 1px
		// 	background-color: $dark-grey
		// 	@extend %centering
		// 	left: -10px
		// 	right: -10px

	&__btn
		display: block
		margin: 0 0 10px
		padding: 5px
		&:last-child
			margin-bottom: 0
