.footer
	background-color: $light-grey
	color: $black
	
	&__row
		position: relative
		padding: rem(18px) 0
		&:first-of-type
			&::before
				content: ''
				display: block
				height: 2px
				position: absolute
				bottom: 0
				left: -50%
				right: -50%
				background-color: #ddd

	&__col
		text-align: center
	&__link
		color: $dark-grey
		font-size: rem(17px)
		&:hover
			color: $pink

	&__right
		text-align: right
	&__vendor
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		width: rem(103px)
		img
			max-width: 100%
	

