.footer
	background-color: $light-grey
	color: $black
	&__title
		font-size: rem(23px)
		+responsive('desktop')
			font-size: rem(26px)
	&__row
		position: relative
		padding: rem(18px) 0
		&:first-of-type
			&::before
				content: ''
				display: block
				height: 2px
				position: absolute
				bottom: 0
				left: -50%
				right: -50%
				background-color: #ddd

	&__col
		text-align: center
		float: right
		+responsive('phone-xs')
			width: 50%
			float: left
		&_right
			float: left
			+responsive('phone')
				float: left
			+responsive('phone-xs')
				float: left
				margin-left: 0
	&__link
		color: $black
		font-size: rem(17px)
		&:hover
			color: $pink

	&__right
		text-align: right
	&__vendor
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		width: rem(103px)
		img
			max-width: 100%
	&__socials
		display: inline-block
		background-color: $dark-grey
		width: 25px
		height: 25px
		margin-right: 5px
		@extend %v-align
		margin-bottom: rem(10px)
		&:last-child
			margin-right: 0
		i
			color: $light-grey


