.svg-block
	width: 100%
	height: 100%
.title
	color: #3d3d3d
	font-weight: 800
	font-size: rem(27px)
	margin-bottom: rem(10px)

.uppercase
	text-transform: uppercase

.btn
	display: inline-block
	font-size: rem(14px)
	color: #fff
	text-align: center
	transition: background-color 300ms
	&_pink
		background-color: $pink
		&:hover, &:active
			background-color: $red
	&_padding
		padding: rem(10px) rem(20px)
	&_thin
		color: $pink
		border: 1px solid $pink
		padding: rem(5px) rem(20px)

		&:hover, &:active
			color: #fff
		&:hover
			background-color: $pink
		&:active
			background-color: $red
	&_fat
		background-color: $black
		&:hover, &:active
			background-color: $grey
		
.price
	color: $pink
.discount
	text-decoration: line-through
	color: $dark-grey

