html
	box-sizing: border-box
	font-size: 16px
	+responsive('laptop')
		font-size: 15px
	+responsive('tablet')
		font-size: 14px
		
	+responsive('phone')
		font-size: 13px
	+responsive('phone-xs')
		font-size: 12px

*, *::before, *::after
	box-sizing: inherit

html, body
	width: 100%

body
	background-color: #F6F6F6
	font-family: 'Open Sans', sans-serif;
	
html, body, ul, li, p, h1, h2, h3, h4, h5, img
	margin: 0
	padding: 0
	font-weight: normal

ul, li
	list-style: none
	font-size: 14px

a, a:hover, a:visited, a:active, a:link
	text-decoration: none
textarea
	resize: none

table
	// width: 100%
	& *
		float: none
input
	border-radius: 0
	-webkit-appearance: none

input.text, input[type="text"], input[type="button"], input[type="submit"], select, option
	-webkit-appearance: none
	appearance: none
	outline: none
	border-radius: 0
	
.content
	background-color: #FFF
	padding: rem(30px) rem(15px)
	@extend %clearfix

	&.index
		padding-top: 0

.wrapper
	overflow: hidden

.option-box
	position: relative
	display: inline-block
	&__chevron
		color: $black
		font-size: rem(14px)
		z-index: 1
		position: absolute
		@extend %centering
		top: 47%
		left: calc(100% - 10px)
	select
		padding-right: 18px