section.brand-sct
	.brand-sct__alphabet
		h2.brand-sct__title.title A
		ul.brand-sct__list
			li.brand-sct__item
				a.brand-sct__link(href="") item1
			li.brand-sct__item
				a.brand-sct__link(href="") item2
			li.brand-sct__item
				a.brand-sct__link(href="") item3
			li.brand-sct__item
				a.brand-sct__link(href="") item4
			li.brand-sct__item
				a.brand-sct__link(href="") item5
			li.brand-sct__item
				a.brand-sct__link(href="") item6
			li.brand-sct__item
				a.brand-sct__link(href="") item7
			li.brand-sct__item
				a.brand-sct__link(href="") item8
			li.brand-sct__item
				a.brand-sct__link(href="") item9
	.brand-sct__alphabet
		h2.brand-sct__title.title B
		ul.brand-sct__list
			li.brand-sct__item
				a.brand-sct__link(href="") item1
			li.brand-sct__item
				a.brand-sct__link(href="") item2
			li.brand-sct__item
				a.brand-sct__link(href="") item3
			li.brand-sct__item
				a.brand-sct__link(href="") item4
			li.brand-sct__item
				a.brand-sct__link(href="") item5
			li.brand-sct__item
				a.brand-sct__link(href="") item6
			li.brand-sct__item
				a.brand-sct__link(href="") item7
			li.brand-sct__item
				a.brand-sct__link(href="") item8
			li.brand-sct__item
	.brand-sct__alphabet
		h2.brand-sct__title.title C
		ul.brand-sct__list
			li.brand-sct__item
				a.brand-sct__link(href="") item1
			li.brand-sct__item
				a.brand-sct__link(href="") item2
			li.brand-sct__item
				a.brand-sct__link(href="") item3
			li.brand-sct__item
				a.brand-sct__link(href="") item4
			li.brand-sct__item
				a.brand-sct__link(href="") item5
			li.brand-sct__item
				a.brand-sct__link(href="") item6
			li.brand-sct__item
				a.brand-sct__link(href="") item7
			li.brand-sct__item
				a.brand-sct__link(href="") item8
			li.brand-sct__item
				a.brand-sct__link(href="") item9