section.catalog-sct
	ul.catalog-sct__list.catalog-sct__list_column.col-lg-offset-5
		li.catalog-sct__item.catalog-sct__item_width.catalog-sct__item.catalog-sct__item_width_sale
			.catalog-sct__pic
				img(src="img/content/boot.jpg", alt="")
			.catalog-sct__interactive
				.catalog-sct__row
					.catalog-sct__description_left
						h3.catalog-sct__text.catalog-sct__name Nike airmax
					.catalog-sct__description_right
						h3.catalog-sct__text.catalog-sct__size размер
						select.catalog-sct__select(name="")
							option.catalog-sct__option(value="", label="36")
				.catalog-sct__row
					.catalog-sct__description_left
						h4.catalog-sct__text.catalog-sct__price.price ₽ 4200
						h4.catalog-sct__text.catalog-sct__discount.discount ₽ 5600
					.catalog-sct__description_right
						.catalog-sct__rating
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Купить в 1 клик
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Добавить в корзину
		li.catalog-sct__item.catalog-sct__item_width
			.catalog-sct__pic
				img(src="img/content/boot.jpg", alt="")
			.catalog-sct__interactive
				.catalog-sct__row
					.catalog-sct__description_left
						h3.catalog-sct__text.catalog-sct__name Nike airmax
					.catalog-sct__description_right
						h3.catalog-sct__text.catalog-sct__size размер
						select.catalog-sct__select(name="")
							option.catalog-sct__option(value="", label="36")
				.catalog-sct__row
					.catalog-sct__description_left
						h4.catalog-sct__text.catalog-sct__price.price ₽ 4200
						h4.catalog-sct__text.catalog-sct__discount.discount ₽ 5600
					.catalog-sct__description_right
						.catalog-sct__rating
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
									i(class="fa fa-star-half-o", aria-hidden="true")
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Купить в 1 клик
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Добавить в корзину
		li.catalog-sct__item.catalog-sct__item_width
			.catalog-sct__pic
				img(src="img/content/boot.jpg", alt="")
			.catalog-sct__interactive
				.catalog-sct__row
					.catalog-sct__description_left
						h3.catalog-sct__text.catalog-sct__name Nike airmax
					.catalog-sct__description_right
						h3.catalog-sct__text.catalog-sct__size размер
						select.catalog-sct__select(name="")
							option.catalog-sct__option(value="", label="36")
				.catalog-sct__row
					.catalog-sct__description_left
						h4.catalog-sct__text.catalog-sct__price.price ₽ 4200
						h4.catalog-sct__text.catalog-sct__discount.discount ₽ 5600
					.catalog-sct__description_right
						.catalog-sct__rating
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Купить в 1 клик
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Добавить в корзину
		li.catalog-sct__item.catalog-sct__item_width
			.catalog-sct__pic
				img(src="img/content/boot.jpg", alt="")
			.catalog-sct__interactive
				.catalog-sct__row
					.catalog-sct__description_left
						h3.catalog-sct__text.catalog-sct__name Nike airmax
					.catalog-sct__description_right
						h3.catalog-sct__text.catalog-sct__size размер
						select.catalog-sct__select(name="")
							option.catalog-sct__option(value="", label="36")
				.catalog-sct__row
					.catalog-sct__description_left
						h4.catalog-sct__text.catalog-sct__price.price ₽ 4200
						h4.catalog-sct__text.catalog-sct__discount.discount ₽ 5600
					.catalog-sct__description_right
						.catalog-sct__rating
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Купить в 1 клик
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Добавить в корзину
		li.catalog-sct__item.catalog-sct__item_width
			.catalog-sct__pic
				img(src="img/content/boot.jpg", alt="")
			.catalog-sct__interactive
				.catalog-sct__row
					.catalog-sct__description_left
						h3.catalog-sct__text.catalog-sct__name Nike airmax
					.catalog-sct__description_right
						h3.catalog-sct__text.catalog-sct__size размер
						select.catalog-sct__select(name="")
							option.catalog-sct__option(value="", label="36")
				.catalog-sct__row
					.catalog-sct__description_left
						h4.catalog-sct__text.catalog-sct__price.price ₽ 4200
						h4.catalog-sct__text.catalog-sct__discount.discount ₽ 5600
					.catalog-sct__description_right
						.catalog-sct__rating
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Купить в 1 клик
				a.catalog-sct__btn.btn.btn_pink.btn_padding(href="") Добавить в корзину

//- 
	ul.catalog-sct__list>(li.catalog-sct__item.catalog-sct__item_width>((.catalog-sct__pic>img)+(.catalog-sct__interactive>h3.catalog-sct__text.catalog-sct__name+h3.catalog-sct__text.catalog-sct__size+(select.catalog-sct__select>option.catalog-sct__option)+h4.catalog-sct__text.catalog-sct__price+h4.catalog-sct__text.catalog-sct__discount+.catalog-sct__rating+a.btn.btn_pink.btn_padding{Купить в 1 клик}+a.btn.btn_pink.btn_padding{Добавить в корзину})))*3
