footer.footer
	.container
		.row.footer__row.footer__upper
			.footer__col.col-lg-6
				h2.title.uppercase
					|Соцсети
				h2.title.uppercase
					|Соцсети
			.footer__col.col-lg-6
				h2.title.uppercase
					|Каталог товаров
				ul.footer__list
					li.footer__item
						a.footer__link(href="") item1
					li.footer__item
						a.footer__link(href="") item2
					li.footer__item
						a.footer__link(href="") item3
					li.footer__item
						a.footer__link(href="") item4
			.footer__col.col-lg-6
				h2.title.uppercase
					|Каталог товаров
				ul.footer__list
					li.footer__item
						a.footer__link(href="") item1
					li.footer__item
						a.footer__link(href="") item2
					li.footer__item
						a.footer__link(href="") item3
					li.footer__item
						a.footer__link(href="") item4
			.footer__col.col-lg-6
				h2.title.uppercase
					|Каталог товаров
				ul.footer__list
					li.footer__item
						a.footer__link(href="") item1
					li.footer__item
						a.footer__link(href="") item2
					li.footer__item
						a.footer__link(href="") item3
					li.footer__item
						a.footer__link(href="") item4
		.row.footer__row.footer__lower
			.footer__left.uppercase.col-lg-12.col-md-12.col-sm-12.col-xs-12
				|ООО "Название компании"
			.footer__right.col-lg-12.col-md-12.col-xs-12
				a(href="http://web-comp.ru" target="_blank").footer__vendor
					img(src="img/content/webcom.png", alt="WEB-COMP").footer__pic