footer.footer
	.container
		.row.footer__row.footer__upper
			.footer__col.col-lg-6
				h2.title.uppercase
					|Соцсети
				h2.title.uppercase
					|Соцсети
				.badge
					.badge__left
						|X
						i(class="fa fa-envelope-open", aria-hidden="true").badge__icon
					.badge__right
						h3.badge__text
							|+7 987 654 32 11
				.badge
					.badge__left
						|X
						i(class="fa fa-envelope-open", aria-hidden="true").badge__icon
					.badge__right
						a(href="mailto:info@krosokipromo.ru").badge__text
							|info@krosokipromo.ru
			.footer__col.col-lg-6
				h2.title.uppercase
					|Каталог товаров
				ul.footer__list
					li.footer__item
						a.footer__link(href="") Обувь для девочек
					li.footer__item
						a.footer__link(href="") Обувь для мальчиков
					li.footer__item
						a.footer__link(href="") Бренды
					li.footer__item
						a.footer__link(href="") Распродажи
					li.footer__item
						a.footer__link(href="") Весь каталог
			.footer__col.col-lg-6
				h2.title.uppercase
					|Сервис
				ul.footer__list
					li.footer__item
						a.footer__link(href="") Как сделать заказ
					li.footer__item
						a.footer__link(href="") Способы оплаты
					li.footer__item
						a.footer__link(href="") Доставка
					li.footer__item
						a.footer__link(href="") Условия возврата
			.footer__col.col-lg-6
				h2.title.uppercase
					|О компании
				ul.footer__list
					li.footer__item
						a.footer__link(href="") О нас
					li.footer__item
						a.footer__link(href="") Контакты
					li.footer__item
						a.footer__link(href="") Статьи
		.row.footer__row.footer__lower
			.footer__left.uppercase.col-lg-12.col-md-12.col-sm-12.col-xs-12
				|ООО "Название компании"
			.footer__right.col-lg-12.col-md-12.col-xs-12
				a(href="http://web-comp.ru" target="_blank").footer__vendor
					img(src="img/content/webcom.png", alt="WEB-COMP").footer__pic