footer.footer
	.container
		.footer__row.footer__upper
			
		.row.footer__row.footer__lower
			.footer__left.uppercase.col-lg-12.col-md-12.col-sm-12.col-xs-12
				|ООО "Название компании"
			.footer__right.col-lg-12.col-md-12.col-xs-12
				|Сайт разработан компанией
				a(href="http://web-comp.ru" target="_blank").footer__vendor
					img(src="img/content/webcom.png", alt="WEB-COMP").footer__pic