section.itemcard-sct
	.row
		.col-lg-14.col-md-14.col-sm-14.col-xs-20.col-xs-offset-2.itemcard-sct__preview
			ul.itemcard-sct__list
				li.itemcard-sct__item.itemcard-sct__item_active.col-lg-24.col-md-24.col-sm-24.col-xs-24
					.itemcard-sct__pic
						img(src="img/content/boot.jpg", alt="Items picture")
				li.itemcard-sct__item.col-lg-6.col-md-6.col-sm-6.col-xs-6
					.itemcard-sct__pic
						img(src="img/content/boot.jpg", alt="Items picture")
				li.itemcard-sct__item.col-lg-6.col-md-6.col-sm-6.col-xs-6
					.itemcard-sct__pic
						img(src="img/content/boot.jpg", alt="Items picture")
				li.itemcard-sct__item.col-lg-6.col-md-6.col-sm-6.col-xs-6
					.itemcard-sct__pic
						img(src="img/content/boot.jpg", alt="Items picture")
				li.itemcard-sct__item.col-lg-6.col-md-6.col-sm-6.col-xs-6
					.itemcard-sct__pic
						img(src="img/content/boot.jpg", alt="Items picture")
		.col-lg-10.col-md-10.col-sm-10.col-xs-20.col-xs-offset-2
			h2.itemcard-sct__title.title.uppercase Nike air Max 2017
			.itemcard-sct__characteristics.col-lg-20.col-md-20.col-sm-20.col-xs-20
				.itemcard-sct__settings
					.itemcard-sct__choice.col-lg-12.col-md-12.col-sm-12
						h3.itemcard-sct__text.itemcard-sct__label.itemcard-sct__label_size Pазмер
						.option-box
							i(class="fa fa-chevron-down", aria-hidden="true").option-box__chevron
							select.itemcard-sct__select(name="")
								option.itemcard-sct__option(value="", label="36") 36

					.itemcard-sct__choice.col-lg-12.col-md-12.col-sm-12
						h3.itemcard-sct__text.itemcard-sct__label.itemcard-sct__label_color Цвет
						.option-box
							i(class="fa fa-chevron-down", aria-hidden="true").option-box__chevron
							select.itemcard-sct__select(name="")
								option.itemcard-sct__option(value="red", label="red") red
					.itemcard-sct__choice.col-lg-24.col-md-24.col-sm-24.col-xs-24
						h3.itemcard-sct__text.itemcard-sct__label.itemcard-sct__label_rating Рейтинг
						.itemcard-sct__rating.catalog-sct__rating
							a.catalog-sct__star.itemcard-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star.itemcard-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star.itemcard-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star.itemcard-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")
							a.catalog-sct__star.itemcard-sct__star
								i(class="fa fa-star-half-o", aria-hidden="true")

				table.itemcard-sct__table
					caption.itemcard-sct__caption Характеристики:
					tr.itemcard-sct__tablerow
						td.itemcard-sct__text.itemcard-sct__tablecell Артикул
						td.itemcard-sct__text.itemcard-sct__tablecell Lorem ipsum dolor.
					tr.itemcard-sct__tablerow
						td.itemcard-sct__text.itemcard-sct__tablecell Артикул
						td.itemcard-sct__text.itemcard-sct__tablecell Lorem ipsum dolor.
					tr.itemcard-sct__tablerow


						td.itemcard-sct__text.itemcard-sct__tablecell Артикул
						td.itemcard-sct__text.itemcard-sct__tablecell Lorem ipsum dolor.
					tr.itemcard-sct__tablerow
						td.itemcard-sct__text.itemcard-sct__tablecell Артикул
						td.itemcard-sct__text.itemcard-sct__tablecell Lorem ipsum dolor.
					tr.itemcard-sct__tablerow
						td.itemcard-sct__text.itemcard-sct__tablecell Артикул
						td.itemcard-sct__text.itemcard-sct__tablecell Lorem ipsum dolor.

			.row
				.itemcard-sct__row.itemcard-sct__row_price.col-lg-20.col-md-20.col-sm-20.col-xs-20
					h3.itemcard-sct__subtitle.itemcard-sct__pricetag.uppercase Цена:
					h3.itemcard-sct__subtitle.itemcard-sct__price.price ₽ 4200
					h3.itemcard-sct__subtitle.itemcard-sct__discount.discount ₽ 5600

			a.itemcard-sct__btn.btn.btn_pink.col-lg-11.col-md-11.col-sm-20.col-xs-24(href="") Добавить в корзину
			a.itemcard-sct__btn.btn.btn_pink.col-lg-11.col-lg-offset-2.col-md-11.col-md-offset-2.col-sm-20.col-xs-24(href="") Купить

	.col-lg-24.itemcard-sct__description
		h2.itemcard-sct__subtitle_bold.itemcard-sct__subtitle_mb.uppercase Описание
		p.itemcard-sct__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, aliquam! Maxime eveniet maiores, odit voluptatibus impedit expedita illum ipsum praesentium cum eum excepturi beatae, earum dolore aliquid, itaque eligendi distinctio quas dolor dignissimos animi natus! Iste sed, impedit officiis possimus nihil quidem, repellendus mollitia quos nulla saepe tenetur sint, ex aliquid. Doloremque asperiores sequi impedit, at obcaecati labore dignissimos cupiditate, placeat sunt voluptate nostrum molestiae, tempore aliquam tenetur expedita quam. Eius odio deleniti soluta libero voluptas beatae vitae a consequuntur ipsam voluptate impedit eligendi modi assumenda dolorum aperiam consequatur tempora, voluptates in reiciendis repudiandae molestias. Vel asperiores quia, delectus non!