aside.side-catalog.col-lg-5.col-md-5.col-sm-5.col-xs-8
	ul.side-catalog__list
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item1
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item2
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item3
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item4
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item5
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item6
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item7
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item8
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item9
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item10
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item11
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item12
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item13
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item14
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item15
		li.side-catalog__item
			a.side-catalog__link.btn.btn_fat(href="") item15