.brands
	position: relative
	padding-bottom: rem(50px)

	&__visible
		@extend %clearfix
		overflow: hidden
	&__title
		margin-bottom: rem(30px)

	&__list
		width: 2000px
		font-size: 0
		transition: transform 300ms
	&__item
		display: inline-block
		text-align: center
		border: 1px solid $black
		margin-right: rem(31px)
		&:last-child
			margin-right: 0
		+responsive('tablet')
			margin-right: 3.48rem
		+responsive('phone')
			margin-right: 1.2675rem
	&__link
		padding: 15px
		display: inline-block
		width: rem(160px)
	&__pic
		display: inline-block
		img
			max-width: rem(90px)
			opacity: 0.5
	&__control
		left: 49.9% !important
	&__toggle
		&:first-child
			margin-right: rem(30px) !important