.recommended-sct
	padding-bottom: rem(50px)
	position: relative
	+responsive('tablet')
		padding-bottom: rem(30px)
	+responsive('phone')
		padding-bottom: rem(10px)
	+responsive('phone-xs')
		padding-bottom: rem(10px)

	&__head
		@extend %justify-content
		margin-bottom: 0
		+responsive('phone')
			text-align: center
		+responsive('phone-xs')
			text-align: center
	&__col
		display: inline-block
		+responsive('phone')
			display: block
			margin-bottom: 5px
		+responsive('phone-xs')
			display: block
			margin-bottom: 5px
	&__link
		color: $black
		font-weight: 800
		font-size: rem(20px)
		+responsive('tablet')
			font-size: rem(15px)
		&_active
			color: $pink
			text-decoration: underline !important
	&__visible
		padding-left: 10px
		padding-right: 10px 
		overflow: hidden

	&__list
		padding: 0
		width: 2130px //js
		height: 320px //js
		// @extend %justify-content

	&__item
		height: rem(320px)
		width: rem(235px)
		margin: 0 rem(53px) 0 0
		padding: 0
		
		+responsive('laptop')
			margin-right: 0.9rem
		+responsive('phone')
			width: 15.9rem
			margin-right: 3.7rem
		&:last-child
			margin-right: 0
	
	&__control
		position: absolute
		@extend %centering
		top: 94%
		left: 49.2%
		+responsive('tablet')
			top: 90%
		+responsive('phone')
			top: 95%
			left: 50%
	&__toggle
		display: inline-block
		fill: $dark-grey
		cursor: pointer
		height: rem(35px)
		width: rem(35px)
		transition: fill 300ms
		margin-right: rem(49px)
		&:hover
			fill: $black
		&:last-child
			transform: rotateY(180deg)
			margin-right: 0